div.component-container {
    max-width: 800px;
}

form {
    
    margin-top: 40px;
}

.form-control {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;

    label {
        width: 40%;
    }


}

.radio-label {
    margin-right: 12px;

    input {
        margin-right: 3px;
    }
}

.button-container {
    margin-top: 20px;
}